.footer{
    .about-transition{
        font-size:12px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        position: relative;
        color: #9d9d9d;
        margin-bottom:8px;
        &:after{
            content: "";
            position: absolute;
            width: 200px;
            height: 1px;
            background: #eee;
            left:50%;
            margin-left:-100px;
            bottom:0;
        }
    }
    .about-foot{
        opacity:0.9;
        margin-bottom: 10px;
        display: block;
        margin: 0 auto;
        height: 30px;
        width: 30px;
        &:hover{
            opacity:1;
            transition: all 0.3s;
        }
    }
}