.list-photo{
    width: 100%;
    height: 650px;
    margin-bottom:20px;
    background: #000;
    overflow: hidden;
    position: relative;
    >img{
        display: block;
        width: 100%;
        height: 100%;
        transform: scale(1.3);
    }
    .black-box{
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        opacity:1;
    }
    &:hover{
        .black-box{
            opacity:0;
            transition: all 0.5s;
        }
        >img{
            transition: all 0.5s;
            transform: scale(1);
        }
    }
}