@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html,body{
    width: 100%;
    height: 100%;
    font-family:"黑体";
}
//在chrome下：
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
//处理全局默认滚动条样式
::-webkit-scrollbar {width: 3px;height:3px;}
::-webkit-scrollbar-track-piece{background-color: #eee;margin: -2px;}
::-webkit-scrollbar-thumb{background: #ccc;min-height: 80px;min-width: 80px;border-radius: 10px;}
::-webkit-scrollbar-thumb:vertical:hover{background: #888}
::-webkit-scrollbar-thumb:horizontal:hover{background: #888}
//Firefox下：
input[type="number"]{-moz-appearance:textfield;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
    display: block;
}
/* 初始化 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;}
em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; font-family:'微软雅黑',Microsoft YaHei,Tahoma,Arial,sans-serif;color: #666;}
ul,ol{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family: Microsoft YaHei;}
img{border: none;}
.none{display: none;}
#app{
    width: 100%;
    height: 100%;
    >div{
        width: 100%;
        height: 100%;
    }
}
.wrap{
    width: 1100px;
    margin: 0 auto;
}
